<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="LogFile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="LogFile.Log" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="LogFile.LogLevel" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<LogFile.Properties.Settings>
   <setting name="LogLevel" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="LogFile" serializeAs="String">
    <value>Log.txt</value>
   </setting>
   <setting name="LogFolder" serializeAs="String">
    <value/>
   </setting>
   <setting name="MutexTimeout" serializeAs="String">
    <value>2000</value>
   </setting>
  </LogFile.Properties.Settings>
		<LogFile.Log>
			<setting name="LogLevel" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="LogFile" serializeAs="String">
				<value>"log.txt"</value>
			</setting>
		</LogFile.Log>
		<LogFile.LogLevel>
			<setting name="LogLevel" serializeAs="String">
				<value>0</value>
			</setting>
		</LogFile.LogLevel>
	</userSettings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
