<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SQLTableControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SQLTableControl.Properties.Settings>
            <setting name="SelectPicturePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="TargetImageWidth" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="TargetImageHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="KeepAspectRatio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectDocumentPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="bLimit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="iLimitNumber" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="b_order_by_ID_desc" serializeAs="String">
                <value>False</value>
            </setting>
        </SQLTableControl.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
