<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TangentaPrint.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TangentaPrint.Properties.Settings>
            <setting name="Printer1_PrinterName" serializeAs="String">
                <value />
            </setting>
            <setting name="Printer1_PageSettings_Landscape" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Printer1_PageSettings_Color" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Printer1_PageSettings_HardMarginX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Printer1_PageSettings_HardMarginY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Printer1_PageSettings_PaperSize_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Printer1_PageSettings_PaperSize_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Printer1_PageSettings_PaperSize_PaperName" serializeAs="String">
                <value />
            </setting>
            <setting name="Printer1_PageSettings_PaperSize_RawKind" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Printer1_PageSettings_PaperSource_RawKind" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Printer1_PageSettings_PaperSource_SourceName"
                serializeAs="String">
                <value />
            </setting>
            <setting name="Printer1_PageSettings_PrinterResolution_X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Printer1_PageSettings_PrinterResolution_Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Printer1_PageSettings_PrinterResolution_Kind"
                serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Printer1_PrintAtOnce" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Printer1_Printing_Invoices" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Printer1_Printing_ProformaInvoices" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Printer1_Printing_Reports" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Printer2_Printing_Invoices" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Printer2_Printing_ProformaInvoices" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Printer2_Printing_Reports" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Printer2_PrinterName" serializeAs="String">
                <value />
            </setting>
            <setting name="Printer2_PageSettings_Landscape" serializeAs="String">
                <value />
            </setting>
            <setting name="Printer2_PageSettings_Color" serializeAs="String">
                <value />
            </setting>
            <setting name="Printer2_PageSettings_HardMarginX" serializeAs="String">
                <value />
            </setting>
            <setting name="Printer2_PageSettings_HardMarginY" serializeAs="String">
                <value />
            </setting>
            <setting name="Printer2_PageSettings_PaperSize_Width" serializeAs="String">
                <value />
            </setting>
            <setting name="Printer2_PageSettings_PaperSize_Height" serializeAs="String">
                <value />
            </setting>
            <setting name="Printer2_PageSettings_PaperSize_PaperName" serializeAs="String">
                <value />
            </setting>
            <setting name="Printer2_PageSettings_PaperSize_RawKind" serializeAs="String">
                <value />
            </setting>
            <setting name="Printer2_PageSettings_PaperSource_SourceName"
                serializeAs="String">
                <value />
            </setting>
            <setting name="Printer2_PageSettings_PrinterResolution_X" serializeAs="String">
                <value />
            </setting>
            <setting name="Printer2_PageSettings_PrinterResolution_Y" serializeAs="String">
                <value />
            </setting>
            <setting name="Printer2_PageSettings_PrinterResolution_Kind"
                serializeAs="String">
                <value />
            </setting>
        </TangentaPrint.Properties.Settings>
    </userSettings>
</configuration>