<?xml version="1.0"?>

<!--
Sample license text.
-->
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Tangenta.Properties.SettingsUser" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Tangenta.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Tangenta.Properties.SettingsUser>
            <setting name="InvoiceHeaderChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Color_DocInvoiceBackGround" serializeAs="String">
                <value>226, 255, 186</value>
            </setting>
            <setting name="Color_DocProformaInvoiceForeGround" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="FinancialYear" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="eShopsMode" serializeAs="String">
                <value />
            </setting>
            <setting name="eShopsInUse" serializeAs="String">
                <value />
            </setting>
            <setting name="SplitContainerDistanceUserSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDocInvoiceType" serializeAs="String">
                <value />
            </setting>
            <setting name="ShopC_SplitControl1_spliterdistance" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ShopC_SplitControl2_spliterdistance" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ShopB_SplitControl1_spliterdistance" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ShopB_SplitControl2_spliterdistance" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ShopA_SplitControl1_spliterdistance" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="DocumentMan_SplitControl1_splitterdistance" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ShopA_Editor_SplitControl1_spliterdistance" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ShopA_Editor_SplitControl2_spliterdistance" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ShopA_Editor_SplitControl3_spliterdistance" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="DocumentEditor_SplitControl1_spliterdistance"
                serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="DocumentEditor_SplitControl2_spliterdistance"
                serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="DocumentEditor_SplitControl3_spliterdistance"
                serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Form_Document_WindowState" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Form_Document_Left" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Form_Document_Top" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Form_Document_Width" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Form_Document_Height" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Color_DocInvoiceForeGround" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Color_DocProformaInvoiceBackGround" serializeAs="String">
                <value>Azure</value>
            </setting>
        </Tangenta.Properties.SettingsUser>
        <Tangenta.Properties.Settings>
            <setting name="RecentItemsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorDraft" serializeAs="String">
                <value>220, 255, 220</value>
            </setting>
            <setting name="ColorStorno" serializeAs="String">
                <value>255, 200, 200</value>
            </setting>
            <setting name="DURS_output_folder" serializeAs="String">
                <value />
            </setting>
            <setting name="XML_output_folder" serializeAs="String">
                <value />
            </setting>
            <setting name="OPAL_VOD_XSD_shema" serializeAs="String">
                <value />
            </setting>
            <setting name="Konto_Price_with_tax_cash" serializeAs="String">
                <value>1090</value>
            </setting>
            <setting name="Konto_Net_price" serializeAs="String">
                <value>7600</value>
            </setting>
            <setting name="Konto_VAT_rate_ganeral" serializeAs="String">
                <value>26001</value>
            </setting>
            <setting name="End_Customers_Code" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="End_Customers_Name" serializeAs="String">
                <value>Končni kupec</value>
            </setting>
            <setting name="Konto_Price_with_tax_payment_cards" serializeAs="String">
                <value>1659</value>
            </setting>
            <setting name="AllowToEditLanguageText" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DBType" serializeAs="String">
                <value />
            </setting>
            <setting name="FullScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColorFurs_InvoiceConfirmed" serializeAs="String">
                <value>255, 255, 220</value>
            </setting>
            <setting name="ColorFurs_SalesBookInvoiceConfirmed" serializeAs="String">
                <value>255, 224, 192</value>
            </setting>
            <setting name="ColorFurs_SalesBookInvoiceNotConfirmed" serializeAs="String">
                <value>DeepPink</value>
            </setting>
            <setting name="eManagerMode" serializeAs="String">
                <value>Shops&amp;InvoiceTable</value>
            </setting>
            <setting name="LanguageID" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AutomaticSelectionOfItemFromStock" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SQLiteBackupFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Startup_TangentaAbout_Showed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Startup_TangentaLicence_Showed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HelpLocalPath" serializeAs="String">
                <value />
            </setting>
            <setting name="HelpRemoteURL" serializeAs="String">
                <value>https://dstrucl.github.io/Tangenta-Help/</value>
            </setting>
            <setting name="InstallationFinished" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Current_DataBase" serializeAs="String">
                <value />
            </setting>
            <setting name="Login_MultipleUsers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ControlLayout_TouchScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AccessAuthentication" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="timer_Login_MultiUser_Countdown" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="UseWorkAreas" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MyOrgID" serializeAs="String">
                <value />
            </setting>
            <setting name="Color_DocInvoiceBackGround" serializeAs="String">
                <value>226, 255, 186</value>
            </setting>
            <setting name="Color_DocInvoiceForeGround" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Color_DocProformaInvoiceBackGround" serializeAs="String">
                <value>Azure</value>
            </setting>
            <setting name="Color_DocProformaInvoiceForeGround" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="eShopsInUse" serializeAs="String">
                <value />
            </setting>
        </Tangenta.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
