<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Tangenta.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Tangenta.Properties.Settings>
            <setting name="LanguageID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RecentItemsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="IniFileFolder" serializeAs="String">
                <value>D:\</value>
            </setting>
            <setting name="ReceiptPrinter" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="PageSettings_Landscape" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PageSettings_Color" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PageSettings_HardMarginX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PageSettings_HardMarginY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PageSettings_PaperSize_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PageSettings_PaperSize_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PageSettings_PaperSize_PaperName" serializeAs="String">
                <value />
            </setting>
            <setting name="PageSettings_PaperSize_RawKind" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PageSettings_PaperSource_RawKind" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PageSettings_PaperSource_SourceName" serializeAs="String">
                <value />
            </setting>
            <setting name="PageSettings_PrinterResolution_X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PageSettings_PrinterResolution_Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PageSettings_PrinterResolution_Kind" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BackupFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="PrintAtOnce" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColorDraft" serializeAs="String">
                <value>255, 255, 180</value>
            </setting>
            <setting name="ColorStorno" serializeAs="String">
                <value>255, 200, 200</value>
            </setting>
            <setting name="DURS_output_folder" serializeAs="String">
                <value />
            </setting>
            <setting name="XML_output_folder" serializeAs="String">
                <value />
            </setting>
            <setting name="OPAL_VOD_XSD_shema" serializeAs="String">
                <value />
            </setting>
            <setting name="Konto_Price_with_tax_cash" serializeAs="String">
                <value>1090</value>
            </setting>
            <setting name="Konto_Net_price" serializeAs="String">
                <value>7600</value>
            </setting>
            <setting name="Konto_VAT_rate_ganeral" serializeAs="String">
                <value>26001</value>
            </setting>
            <setting name="End_Customers_Code" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="End_Customers_Name" serializeAs="String">
                <value>Končni kupec</value>
            </setting>
            <setting name="Konto_Price_with_tax_payment_cards" serializeAs="String">
                <value>1659</value>
            </setting>
            <setting name="WorkingPlace_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="AllowToEditLanguageText" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DBType" serializeAs="String">
                <value />
            </setting>
            <setting name="FinancialYear" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CasshierName" serializeAs="String">
                <value>Blagajna1</value>
            </setting>
            <setting name="FullScreen" serializeAs="String">
                <value>False</value>
            </setting>
        </Tangenta.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
