<?xml version="1.0"?>

<!--
Sample license text.
-->
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Tangenta.Properties.SettingsUser" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Tangenta.Properties.SettingsUser>
            <setting name="InvoiceHeaderChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Color_DocInvoiceBackGround" serializeAs="String">
                <value>226, 255, 186</value>
            </setting>
            <setting name="Color_DocProformaInvoiceForeGround" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="FinancialYear" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="eShopsMode" serializeAs="String">
                <value />
            </setting>
            <setting name="eShopsInUse" serializeAs="String">
                <value />
            </setting>
            <setting name="SplitContainerDistanceUserSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDocInvoiceType" serializeAs="String">
                <value />
            </setting>
            <setting name="ShopC_SplitControl1_spliterdistance" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ShopC_SplitControl2_spliterdistance" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ShopB_SplitControl1_spliterdistance" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ShopB_SplitControl2_spliterdistance" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ShopA_SplitControl1_spliterdistance" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="DocumentMan_SplitControl1_splitterdistance" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ShopA_Editor_SplitControl1_spliterdistance" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ShopA_Editor_SplitControl2_spliterdistance" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ShopA_Editor_SplitControl3_spliterdistance" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="DocumentEditor_SplitControl1_spliterdistance"
                serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="DocumentEditor_SplitControl2_spliterdistance"
                serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="DocumentEditor_SplitControl3_spliterdistance"
                serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Form_Document_WindowState" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Form_Document_Left" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Form_Document_Top" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Form_Document_Width" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Form_Document_Height" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Color_DocInvoiceForeGround" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Color_DocProformaInvoiceBackGround" serializeAs="String">
                <value>Azure</value>
            </setting>
        </Tangenta.Properties.SettingsUser>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
