<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DBConnectionControl_Settings.Properties.RemoteDB4" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="DBConnectionControl_Settings.Properties.LocalDB4" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DBConnectionControl_Settings.Properties.RemoteDB4>
            <setting name="RemoteDB_uiDataBaseType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RemoteDB_bWindowsAuthentication" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoteDB_DataSource" serializeAs="String">
                <value/>
            </setting>
            <setting name="RemoteDB_DataBase" serializeAs="String">
                <value/>
            </setting>
            <setting name="RemoteDB_UserName" serializeAs="String">
                <value/>
            </setting>
            <setting name="RemoteDB_Password" serializeAs="String">
                <value/>
            </setting>
            <setting name="RemoteDB_strDataBaseFilePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="RemoteDB_strDataBaseLogFilePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="RemoteDB_TryToConnectTimeout_in_seconds" serializeAs="String">
                <value>0</value>
            </setting>
        </DBConnectionControl_Settings.Properties.RemoteDB4>
        <DBConnectionControl_Settings.Properties.LocalDB4>
            <setting name="LocalDB_DataBaseFilePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="LocalDB_DataBaseFileName" serializeAs="String">
                <value/>
            </setting>
            <setting name="LocalDB_crypted_Password" serializeAs="String">
                <value/>
            </setting>
        </DBConnectionControl_Settings.Properties.LocalDB4>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
