<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LoginControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <LoginControl.Properties.Settings>
            <setting name="UserName1" serializeAs="String">
                <value/>
            </setting>
            <setting name="UserName2" serializeAs="String">
                <value/>
            </setting>
            <setting name="UserName3" serializeAs="String">
                <value/>
            </setting>
            <setting name="UserName4" serializeAs="String">
                <value/>
            </setting>
        </LoginControl.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
