<?xml version="1.0"?>
<!--
Sample license text.
-->
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CodeTables.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SQLTableControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <CodeTables.Properties.Settings>
            <setting name="SelectPicturePath" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetImageWidth" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="TargetImageHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="KeepAspectRatio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectDocumentPath" serializeAs="String">
                <value />
            </setting>
            <setting name="bLimit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="iLimitNumber" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="b_order_by_ID_desc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="i0_StatusColor1" serializeAs="String">
                <value>Fuchsia</value>
            </setting>
            <setting name="i0_StatusColor2" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="i1_StausColor1" serializeAs="String">
                <value>0, 0, 192</value>
            </setting>
            <setting name="i1_StausColor2" serializeAs="String">
                <value>128, 255, 255</value>
            </setting>
            <setting name="i2_StausColor1" serializeAs="String">
                <value>0, 64, 0</value>
            </setting>
            <setting name="i2_StausColor2" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
            <setting name="i3_StausColor1" serializeAs="String">
                <value>255, 218, 165</value>
            </setting>
            <setting name="i3_StausColor2" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="idefault_StausColor1" serializeAs="String">
                <value>99, 106, 134</value>
            </setting>
            <setting name="idefault_StausColor2" serializeAs="String">
                <value>99, 106, 134</value>
            </setting>
            <setting name="Color_0" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
            <setting name="Color_1" serializeAs="String">
                <value>204, 186, 199</value>
            </setting>
            <setting name="Color_2" serializeAs="String">
                <value>199, 204, 186</value>
            </setting>
            <setting name="Color_3" serializeAs="String">
                <value>186, 199, 204</value>
            </setting>
            <setting name="Color_4" serializeAs="String">
                <value>204, 186, 199</value>
            </setting>
            <setting name="Color_5" serializeAs="String">
                <value>199, 204, 186</value>
            </setting>
            <setting name="Color_6" serializeAs="String">
                <value>186, 199, 204</value>
            </setting>
            <setting name="Color_7" serializeAs="String">
                <value>204, 186, 199</value>
            </setting>
            <setting name="Color_8" serializeAs="String">
                <value>199, 204, 186</value>
            </setting>
            <setting name="Color_9" serializeAs="String">
                <value>186, 199, 204</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </CodeTables.Properties.Settings>
        <SQLTableControl.Properties.Settings>
            <setting name="SelectPicturePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="TargetImageWidth" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="TargetImageHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="KeepAspectRatio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectDocumentPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="bLimit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="iLimitNumber" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="b_order_by_ID_desc" serializeAs="String">
                <value>False</value>
            </setting>
        </SQLTableControl.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
