<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TangentaSettings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DocumentManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TangentaSettings.Properties.Settings>
            <setting name="eManagerMode" serializeAs="String">
                <value>Shops&amp;InvoiceTable</value>
            </setting>
            <setting name="eShowShops" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDocInvoiceType" serializeAs="String">
                <value />
            </setting>
            <setting name="eShopsInUse" serializeAs="String">
                <value />
            </setting>
            <setting name="End_Customers_Name" serializeAs="String">
                <value>Končni kupec</value>
            </setting>
            <setting name="XML_output_folder" serializeAs="String">
                <value />
            </setting>
            <setting name="OPAL_VOD_XSD_shema" serializeAs="String">
                <value />
            </setting>
            <setting name="VOD_shema" serializeAs="String">
                <value />
            </setting>
            <setting name="Konto_VAT_rate_ganeral" serializeAs="String">
                <value>26001</value>
            </setting>
            <setting name="Konto_Net_price" serializeAs="String">
                <value>7600</value>
            </setting>
            <setting name="Konto_Price_with_tax_cash" serializeAs="String">
                <value>1090</value>
            </setting>
            <setting name="Konto_Price_with_tax_payment_cards" serializeAs="String">
                <value>1659</value>
            </setting>
            <setting name="End_Customers_Code" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Startup_TangentaAbout_Showed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Startup_TangentaLicence_Showed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DBType" serializeAs="String">
                <value />
            </setting>
            <setting name="ControlLayout_TouchScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColorDraft" serializeAs="String">
                <value>220, 255, 220</value>
            </setting>
            <setting name="ColorStorno" serializeAs="String">
                <value>255, 200, 200</value>
            </setting>
            <setting name="ColorFurs_InvoiceConfirmed" serializeAs="String">
                <value>255, 255, 220</value>
            </setting>
            <setting name="ColorFurs_SalesBookInvoiceConfirmed" serializeAs="String">
                <value>255, 224, 192</value>
            </setting>
            <setting name="ColorFurs_SalesBookInvoiceNotConfirmed" serializeAs="String">
                <value>DeepPink</value>
            </setting>
            <setting name="UseWorkAreas" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Current_DataBase" serializeAs="String">
                <value />
            </setting>
            <setting name="Login_MultipleUsers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RecordCashierActivity" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DURS_output_folder" serializeAs="String">
                <value />
            </setting>
            <setting name="IdleControl_Active" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IdleControl_FileImageUrl1" serializeAs="String">
                <value />
            </setting>
            <setting name="IdleControl_FileImageUrl2" serializeAs="String">
                <value />
            </setting>
            <setting name="IdleControl_ShowURL2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IdleControl_TimeInSecondsToActivate" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="IdleControl_URL2" serializeAs="String">
                <value />
            </setting>
            <setting name="IdleControl_UseExitButton" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IdleControl_URL1" serializeAs="String">
                <value>http:\\www.tangenta.si</value>
            </setting>
            <setting name="timer_Login_MultiUser_Countdown" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="AccessAuthentication" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SQLiteBackupFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowAdministratorsInMultiuserLogin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FullScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WaitToChangeDataBaseAtStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowToEditLanguageText" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LanguageID" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="HelpLocalPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AutomaticSelectionOfItemFromStock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HelpRemoteURL" serializeAs="String">
                <value>https://dstrucl.github.io/Tangenta-Help/</value>
            </setting>
            <setting name="Color_DocInvoiceBackGround" serializeAs="String">
                <value />
            </setting>
            <setting name="Color_DocInvoiceForeGround" serializeAs="String">
                <value />
            </setting>
            <setting name="Color_DocProformaInvoiceBackGround" serializeAs="String">
                <value />
            </setting>
            <setting name="Color_DocProformaInvoiceForeGround" serializeAs="String">
                <value />
            </setting>
            <setting name="MyOrgID" serializeAs="String">
                <value />
            </setting>
        </TangentaSettings.Properties.Settings>
        <DocumentManager.Properties.Settings>
            <setting name="eManagerMode" serializeAs="String">
                <value />
            </setting>
            <setting name="eShowShops" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDocInvoiceType" serializeAs="String">
                <value />
            </setting>
            <setting name="eShopsInUse" serializeAs="String">
                <value />
            </setting>
            <setting name="End_Customers_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="XML_output_folder" serializeAs="String">
                <value />
            </setting>
            <setting name="OPAL_VOD_XSD_shema" serializeAs="String">
                <value />
            </setting>
            <setting name="VOD_shema" serializeAs="String">
                <value />
            </setting>
            <setting name="Konto_VAT_rate_ganeral" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Konto_Net_price" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Konto_Price_with_tax_cash" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Konto_Price_with_tax_payment_cards" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="End_Customers_Code" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Startup_TangentaAbout_Showed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Startup_TangentaLicence_Showed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DBType" serializeAs="String">
                <value />
            </setting>
            <setting name="ControlLayout_TouchScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColorDraft" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorStorno" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorFurs_InvoiceConfirmed" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorFurs_SalesBookInvoiceConfirmed" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorFurs_SalesBookInvoiceNotConfirmed" serializeAs="String">
                <value />
            </setting>
            <setting name="UseWorkAreas" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Current_DataBase" serializeAs="String">
                <value />
            </setting>
            <setting name="Login_MultipleUsers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RecordCashierActivity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DURS_output_folder" serializeAs="String">
                <value />
            </setting>
            <setting name="IdleControl_Active" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IdleControl_FileImageUrl1" serializeAs="String">
                <value />
            </setting>
            <setting name="IdleControl_FileImageUrl2" serializeAs="String">
                <value />
            </setting>
            <setting name="IdleControl_ShowURL2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IdleControl_TimeInSecondsToActivate" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="IdleControl_URL2" serializeAs="String">
                <value />
            </setting>
            <setting name="IdleControl_UseExitButton" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IdleControl_URL1" serializeAs="String">
                <value>http:\\www.tangenta.si</value>
            </setting>
            <setting name="timer_Login_MultiUser_Countdown" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AccessAuthentication" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SQLiteBackupFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowAdministratorsInMultiuserLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FullScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WaitToChangeDataBaseAtStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowToEditLanguageText" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LanguageID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HelpLocalPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AutomaticSelectionOfItemFromStock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HelpRemoteURL" serializeAs="String">
                <value>https://dstrucl.github.io/Tangenta-Help/</value>
            </setting>
        </DocumentManager.Properties.Settings>
    </userSettings>
</configuration>